# Firebase
FIREBASE_API_KEY=

# Supabase
SUPABASE_URL=
SUPABASE_KEY=

# Hasura
HASURA_GRAPHQL_URL=

# GitHub
GITHUB_TOKEN=

# Stripe
STRIPE_KEY=

# Mailchimp
MAILCHIMP_API_KEY=
MAILCHIMP_SERVER_PREFIX=
